<p style="color: green"><%= notice %></p>

<% content_for :title, "Characters" %>

<h1>Characters</h1>

<div id="characters">
  <% @characters.each do |character| %>
    <%= render character %>
    <button>
      <%= link_to "Show this character", character %>
    </button>
  <% end %>
</div>

  <%= link_to "Back to your profile", root_path %>
</button>
